* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}
.header {
    background-color: #ff6666;
    padding: 2em;
    grid-area: header;
    text-align: center;
    color: white;
    width: auto;
}
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #4d79ff;
    padding: 1em;
    color:white;
}
nav a {
    padding: 1em;
}
.active {
    background-color: #ff4d94;
}
aside {
    height: calc(100vh - 53px);
    top: 53px;
    position: sticky;
    align-self: self-start;
    grid-area: sidebar;
    background-color: blanchedalmond;
}
main {
    grid-area: main;
    background-color: blueviolet;
}
footer {
    grid-area: footer;
    background-color: brown;
    color: white;
    padding: 2em;
    text-align: center;
}
@media (max-width: 800px){
    body {
        grid-template-columns: 1fr;
    }
    aside {
        position: fixed;
        width: 300px;
        display: none;
    }
    .show {
        display: block;
    }
}