* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #32c4f9;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #fe7362;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #f3ce73;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #fe7362;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #32c4f9;
  color: #fe7362;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}
.active {
    background-color: #2decb7;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #f3ce73;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #fe7362;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid #f3ce73;
}
div.card:hover {
    border: 4px solid #f3ce73;
  }

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #f3ce73;
  margin-top: 20px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #32c4f9;
    border: 1px solid #fe7362;
    color: #2decb7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup p {
    margin: 0 0 10px;
}

.popup button {
    padding: 5px 10px;
    background-color: #2decb7;
    color: #fe7362;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}